@font-face {
  font-family: "2MASS J1808";
  font-weight: 400;
  src: url(../fonts/2Massj1808Normal.otf);
}

@font-face {
  font-family: "2MASS J1808";
  font-weight: 900;
  src: url(../fonts/2Massj1808Heavy.otf);
}
