.park-complex {
  padding: 100px 0;
  min-height: 776px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title {
  }

  &__showall {
    border: 2px solid #00ace4;
    border-radius: 100px;
    padding: 12px 68px 12px 20px;
    min-width: 245px;
    min-height: 54px;
    font-family: $second-font;
    font-weight: 400;
    font-size: 18px;
    color: #1e1e1e;
    cursor: pointer;
    position: relative;
    img {
      position: absolute;
      right: 28px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.slidecomplex {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  &__column {
    padding: 0 20px;
    flex: 0 1 33.333%;
    min-width: 480px;
  }

  &__slidecomplex-item {
  }
}

.park-complex__slidecomplex {
  margin-top: 50px;
}
.slidecomplex-item {
  &__img {
    width: 100%;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
  }

  & > *:not(:last-child) {
    margin-bottom: 15px;
  }

  &__title {
    font-family: $second-font;
    font-weight: 900;
    font-size: 24px;
    line-height: 140%;
    color: #1e1e1e;
  }

  &__bottom {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
  }

  &__price {
    font-family: $second-font;
    font-weight: 900;
    font-size: 24px;
    line-height: 140%;
    color: $second-color;
  }
}

@media (max-width: 1429px) {
  .slidecomplex {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .big-wrapper__park-complex {
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .park-complex {
    padding: 60px 0;

    &__showall {
      margin-top: 40px;
      flex: 0 1 100%;
    }
  }
}

@media (max-width: 590px) {
  .hide {
    display: none;
  }
  .park-complex {
    &__showall {
      margin-top: 28px;
      padding: 17px 24px;
      min-height: 52px;
      font-family: $main-font;
      font-size: 14px;
      line-height: 130%;
    }
  }

  .slidecomplex {
    margin: 0;
    row-gap: 28px;
    &__column {
      min-width: 200px;
      flex: 0 1 320px;
      padding: 0;
    }
  }

  .park-complex__slidecomplex {
    margin-top: 28px;
  }

  .slidecomplex-item {
    &__img {
      height: 220px;
    }

    &__title {
      font-size: 16px;
      line-height: 150%;
    }

    &__btn {
      padding: 16px 26px;
    }

    &__price {
      font-size: 16px;
      line-height: 150%;
    }
  }
}
