.big-wrapper {
  position: relative;
  max-width: 1740px;
  border-radius: 40px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;

  &__main-promo {
    border-radius: 0;
  }

  &__promo2 {
    border-radius: 0;
  }

  &__whyus {
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.05);
    padding: 80px 0 113px 0;
  }

  &__offer {
    padding: 80px 0;
    box-sizing: content-box;
    background: linear-gradient(
      180deg,
      rgba(69, 244, 255, 0.15) 0%,
      rgba(153, 212, 255, 0.15) 100%
    );
  }

  &__consultation {
    background: url("../../img/consultation/bg.png") center center / cover
      no-repeat;
    padding: 60px 0;
  }

  &__polgun {
    border-radius: 40px;
    padding: 80px 0 50px 0;
    background-color: #00ace4;
    position: relative;
  }
}

@media (max-width: 1024px) {
  .big-wrapper {
    padding: 60px 20px;
  }

  .big-wrapper__header {
    padding: 0 20px;
  }
}

@media (max-width: 900px) {
  .big-wrapper {
    border-radius: 0;
  }
}
