.consultation {
  padding: 80px 20px 94px 20px;
  min-height: 580px;
  &__container {
  }

  &__free-consult {
  }
}

.free-consult {
  max-width: 640px;
  border-radius: 40px;
  background-color: #fff;
  padding: 50px 50px 70px 50px;
  &__title {
    font-family: $second-font;
    font-weight: 900;
    font-size: 30px;
  }

  &__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__input {
    border: 2px solid #8e8e8e;
    border-radius: 16px;
    flex: 1 1 auto;
    height: 72px;
    padding: 25px;
    color: #a4a4a4;
  }

  &__btn {
    border-radius: 16px;
    min-height: 72px;
    background-color: $second-color;
    color: #fff;
    border: none;
    font-family: $second-font;

    &:hover {
      background-color: #e74848;
    }
  }
}

@media (max-width: 1380px) {
  .consultation {
    &__free-consult {
      margin: 0 auto;
    }
  }
}

@media (max-width: 900px) {
  .consultation {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 800px) {
  .consultation {
    min-height: 470px;
    padding: 0;

    &__container {
      padding: 0;
    }
  }

  .big-wrapper__consultation {
    padding: 0 20px;
    background: #fff;
  }

  .free-consult {
    padding: 70px 0 60px 0;
  }
}

@media (max-width: 590px) {
  .consultation {
    min-height: 248px;
  }
  .free-consult {
    &__title {
      font-size: 20px;
      line-height: 110%;
    }

    &__form {
      margin-top: 30px;

      & > *:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    &__input {
      padding: 16px 20px;
      height: 50px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
    }

    &__btn {
      font-size: 14px;
      min-height: 52px;
    }
  }
}
