.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  z-index: 10;
  &__container {
    max-width: 1740px;
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: 60px;
  }

  &__logo {
    display: block;
    width: 144px;
    height: 50px;
    flex: 0 0 auto;
    img {
      width: 100%;
    }
  }

  &__phone {
    font-family: $second-font;
    font-weight: 400;
    font-size: 22px;
    margin-left: 73px;
    flex: 0 0 auto;
    line-height: 18.181%;

    &:hover {
      color: #808080;
    }
  }

  &__consultation {
    margin-left: 30px;
  }

  &__img {
    width: 64px;
    height: 64px;
    margin-left: 20px;
    flex: 0 0 auto;
    img {
      width: 100%;
    }
  }
}

.menu {
  &__list {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    line-height: 22.222%;
    &:hover {
      color: #808080;
    }
  }
}

@media (max-width: 1770px) {
  .header {
    &__container {
      justify-content: space-between;
    }

    &__menu {
      margin-left: 25px;
    }

    &__phone {
      margin-left: 15px;
    }

    &__consultation {
      margin-left: 15px;
    }

    &__img {
      margin-left: 10px;
    }
  }
  .menu {
    &__list {
      flex-wrap: wrap;
    }

    &__item:not(:last-child) {
      margin-right: 20px;
    }

    &__item {
      padding: 5px 0;
    }
  }
}
