.modal {
  padding: 0 60px;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  overflow-y: auto;

  &_active {
    display: block;
    .body {
      overflow: hidden;
    }
  }
  &__free-consult {
    display: none;
    margin: 0 auto;
    margin-top: 138px;
  }

  &__calc {
    margin: 0 auto;
    margin-top: 138px;
  }

  &__closer {
    position: absolute;
    top: -50px;
    right: -50px;
    cursor: pointer;
    z-index: 13;
  }
}

.free-consult {
  position: relative;

  &_active {
    display: block;
  }
}

.calc {
  display: none;
  position: relative;
  max-width: 800px;
  padding: 50px;
  border-radius: 40px;
  background-color: #fff;
  overflow-y: initial;
  min-height: 1724px;
  //   overflow-y: scroll;

  &_active {
    display: block;
  }

  &_active {
    display: block;
  }

  &__title {
    font-family: $second-font;
    font-weight: 900;
    font-size: 30px;
    color: #1e1e1e;
    margin-bottom: 30px;
  }

  &__caption {
    line-height: 140%;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__choice {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__question {
    font-family: $second-font;
    line-height: 140%;
    margin-bottom: 30px;
  }

  &__input {
    margin-bottom: 20px;
  }

  &__btn {
    margin-top: 5px;
  }

  &__radio {
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    .calc__option {
      position: relative;
      padding-left: 32.5px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        border: 1px solid #cecece;
        border-radius: 50%;
        width: 22px;
        height: 22px;
      }

      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: #fff;
        top: 7px;
        left: 7.2px;
        opacity: 0;
        transition: opacity 0.2s;
      }
    }
  }

  .calc__radio-input:checked + .calc__option::before {
    background-color: $second-color;
    border: 1px solid $second-color;
  }

  .calc__radio-input:checked + .calc__option::after {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .modal {
    padding: 0;

    &__free-consult {
      margin: 0;
      margin-top: 138px;
      background-color: #fff;
      max-width: 100%;
      border-radius: 0;
      padding: 70px 20px 60px 20px;

      .free-consult__form {
        margin-top: 20px;
      }
    }

    &__closer {
      top: 10px;
      right: 10px;

      svg {
        path {
          stroke: black;
        }
      }
    }
  }

  .calc {
    margin: 0;
    background-color: #fff;
    max-width: 100%;
    border-radius: 0;
    padding: 70px 20px 60px 20px;
  }
}

@media (max-width: 590px) {
  .calc {
    &__title {
      font-size: 20px;
      line-height: 110%;
      margin-bottom: 20px;
    }

    &__caption {
      font-size: 14px;
      line-height: 130%;
    }

    &__question {
      font-weight: 900;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 16px;
    }

    &__option {
      font-size: 14px;
      line-height: 130%;
    }

    &__radio-label {
      .calc__option {
        &::before {
          top: -3px;
        }

        &::after {
          top: 4px;
        }
      }
    }

    &__input {
      margin-bottom: 12px;
    }

    &__btn {
      margin-top: 0;
    }
  }
}
