.modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  overflow-y: auto;

  &_active {
    display: block;
    .body {
      overflow: hidden;
    }
  }
  &__free-consult {
    display: none;
    margin: 0 auto;
    margin-top: 138px;
  }

  &__calc {
    margin: 0 auto;
    margin-top: 138px;
  }

  &__closer {
    position: absolute;
    top: -50px;
    right: -50px;
    cursor: pointer;
    z-index: 13;
  }
}

.free-consult {
  position: relative;

  &_active {
    display: block;
  }
}

.calc {
  display: none;
  position: relative;
  max-width: 800px;
  padding: 50px;
  border-radius: 40px;
  background-color: #fff;
  overflow-y: initial;
  min-height: 1724px;
  //   overflow-y: scroll;

  &_active {
    display: block;
  }

  &_active {
    display: block;
  }

  &__title {
    font-family: $second-font;
    font-weight: 900;
    font-size: 30px;
    color: #1e1e1e;
    margin-bottom: 30px;
  }

  &__caption {
    line-height: 140%;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__choice {
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;
  }

  &__question {
    font-family: $second-font;
    line-height: 140%;
    margin-bottom: 30px;
  }

  &__radio {
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    .calc__option {
      position: relative;
      padding-left: 32.5px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        border: 1px solid #cecece;
        border-radius: 50%;
        width: 22px;
        height: 22px;
      }

      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: #fff;
        top: 7px;
        left: 7.2px;
        opacity: 0;
        transition: opacity 0.2s;
      }
    }
  }

  .calc__radio-input:checked + .calc__option::before {
    background-color: $second-color;
    border: 1px solid $second-color;
  }

  .calc__radio-input:checked + .calc__option::after {
    opacity: 1;
  }
}
