.order {
  position: relative;
  min-height: 1008px;
  padding: 80px 0 100px 0;
  background-color: #eff9ff;
  &__container {
  }

  &__title {
  }

  &__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    margin-top: 40px;
    max-width: 1065px;
  }

  &__btn {
    margin-top: 60px;
    text-align: center;
  }
}

.complex-block {
  display: flex;
  margin: 0 -20px;
  flex-wrap: wrap;
  row-gap: 45px;
  &__column {
    flex: 0 1 33.333%;
    padding: 0 20px;
    min-width: 438px;
    min-height: 498px;
  }

  &__complex-item {
  }
}

.order__complex-block {
  margin-top: 40px;
}
.complex-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
  }

  &__descr {
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    font-family: $second-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    margin-top: 10px;
    flex: 1 1 auto;
  }

  &__price-info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-family: $second-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1e1e1e;
  }

  &__link {
    font-family: $second-font;
    font-weight: 400;
    font-size: 14px;
    color: $second-color;
    text-decoration: underline;
  }
}

.order {
  .bubble1,
  .bubble2,
  .bubble3,
  .bubble4,
  .bubble5 {
    position: absolute;
  }

  .bubble1 {
    top: 140px;
    left: 0;
  }

  .bubble2 {
    left: 84px;
    bottom: 305px;
  }

  .bubble3 {
    top: 67px;
    right: 216px;
  }

  .bubble4 {
    top: 238px;
    right: 34px;
  }

  .bubble5 {
    right: 79px;
    bottom: 183px;
  }
}

@media (max-width: 1725px) {
  .order {
    .bubble1,
    .bubble2,
    .bubble3,
    .bubble4,
    .bubble5 {
      display: none;
    }
  }
}

@media (max-width: 1305px) {
  .complex-block {
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .order {
    padding: 60px 0;
  }

  .complex-block {
    row-gap: 30px;
  }
}

@media (max-width: 590px) {
  .order {
    &__subtitle {
      display: none;
    }

    &__complex-block {
      margin-top: 30px;
    }

    &__btn {
      a {
        width: 100%;
      }
    }

    .complex-item {
      &__img {
        height: 220px !important;
        margin-bottom: 0 !important;
      }

      &__descr {
        padding: 0;
        margin-top: 16px;
      }

      &__title {
        font-size: 16px;
        line-height: 150%;
      }

      &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
      }

      &__price {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1e1e1e;
      }
    }
  }

  .complex-block {
    &__column {
      padding: 0;
      flex: 0 1 320px;
      min-width: 200px;
      min-height: 0;
    }
  }
}
