.promo {
  display: block;
  padding: 240px 0 174px 0;
  min-height: 696px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 47%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../img/promo/promo_bg.png") center center / cover no-repeat;

  &__container {
  }

  &__title {
    font-family: $second-font;
    font-weight: 900;
    font-size: 64px;
    color: #fff;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #fff;
    max-width: 600px;
  }

  &__btn {
    margin-top: 30px;
  }
}

.btn {
  &__promo {
  }
}
