.promo {
  display: block;
  padding: 240px 0 174px 0;
  min-height: 696px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 47%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../img/promo/promo_bg.png") center center / cover no-repeat;

  &__title {
    font-family: $second-font;
    font-weight: 900;
    font-size: 64px;
    color: #fff;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #fff;
    max-width: 600px;
  }

  &__btn {
    margin-top: 30px;
  }
}

@media (max-width: 1220px) {
  .promo {
    &__block {
      max-width: 700px;
    }
    &__title {
      font-size: 45px;
    }
  }
}

@media (max-width: 590px) {
  .promo {
    padding-top: 120px;
    padding-bottom: 0;
    &__block {
      max-width: 400px;
    }

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__btn {
      width: 100%;
    }
  }
}
