.whyus {
  padding-top: 80px;
  min-height: 907px;

  &__title {
    text-align: left;
  }

  &__subtitle {
    margin-top: 25px;
    text-align: left;
  }

  &__reasons-block {
  }

  &__wrapper {
    margin-top: 50px;
  }
}

.reasons-block {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  row-gap: 45px;
  &__column {
    flex: 0 1 33.333%;
    padding: 0 20px;
  }
}

.why-item {
  &__img {
    width: 70px;
    height: 70px;

    img {
      border-radius: 24px;
      width: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
  }

  &__caption {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
  }

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.big-wrapper__whyus {
  .bubble1,
  .bubble2,
  .bubble3,
  .bubble4,
  .bubble5,
  .bubble6,
  .bubble7,
  .bubble8,
  .bubble9,
  .bubble10,
  .bubble_mob1,
  .bubble_mob2,
  .bubble_mob3 {
    position: absolute;
  }

  .bubble_mob1,
  .bubble_mob2,
  .bubble_mob3 {
    display: none;
  }

  .bubble1 {
    top: 107px;
    right: 820px;
  }

  .bubble2 {
    top: 165px;
    right: 694px;
  }

  .bubble3 {
    top: 55px;
    right: 586px;
  }

  .bubble4 {
    top: 123px;
    right: 388px;
  }

  .bubble5 {
    top: 25px;
    right: 233px;
  }

  .bubble6 {
    top: 97px;
    right: 87px;
  }

  .bubble7 {
    top: 402px;
    right: 87px;
  }

  .bubble8 {
    right: 30px;
    bottom: 226px;
  }

  .bubble9 {
    right: 72px;
    bottom: 71px;
  }

  .bubble10 {
    left: 17px;
    bottom: -23px;
  }
}

@media (max-width: 1300px) {
  .big-wrapper__whyus {
    padding: 60px 0;
  }

  .whyus {
    min-height: 537px;
    &__subtitle {
      margin-top: 15px;
    }

    &__wrapper {
      margin-top: 30px;
    }

    .reasons-block {
      margin-right: -10px;
      margin-left: -10px;
      &__column {
        flex: 1 1 50%;
        padding: 0 10px;
      }
    }
  }
}

@media (max-width: 800px) {
  .big-wrapper__whyus {
    height: 100%;

    .bubble1,
    .bubble2,
    .bubble3,
    .bubble4,
    .bubble5,
    .bubble6,
    .bubble7,
    .bubble8,
    .bubble9,
    .bubble10 {
      display: none;
    }

    .bubble_mob1,
    .bubble_mob2,
    .bubble_mob3 {
      display: block;
    }

    .bubble_mob1 {
      top: 73px;
      right: 118px;
    }

    .bubble_mob2 {
      top: 48px;
      right: 90px;
    }

    .bubble_mob3 {
      top: 3px;
      right: 0;
    }
  }
  .whyus {
    padding: 0;
    min-height: 510px;
    &__container {
      padding-right: 0;
    }

    &__list {
      min-height: 246px;
      overflow-x: scroll;
    }

    .reasons-block {
      flex-wrap: nowrap;
      min-width: 2600px;
      gap: 0;
      &__column {
        flex: 0 0 16.666%;
      }
    }
  }
}

@media (max-width: 590px) {
  .whyus {
    min-height: 366px;
    &__list {
      min-height: 170px;
    }

    .reasons-block {
      min-width: 1700px;
    }
  }

  .why-item {
    & > *:not(:last-child) {
      margin-bottom: 0;
    }

    &__img {
      margin-bottom: 14px !important;
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 8px !important;
    }

    &__caption {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
    }
  }
}
