.product {
  min-height: 748px;
  padding-top: 165px;
  padding-bottom: 100px;
  &__wrapper {
    display: flex;
  }

  &__img-block {
    display: flex;
  }

  &__scroll {
    margin-right: 18px;
  }

  &__list {
    display: none;
  }

  &__scroll-item {
  }

  &__big-img {
    border-radius: 40px;
    max-width: 702px;
    height: 702px;
    flex-shrink: 0;
    img {
      border-radius: 40px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__descr {
    flex: 0 1 815px;
    padding-left: 40px;

    & > *:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__text-block {
    & > *:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__title {
    color: #000;
  }

  &__subtitle {
    display: flex;
    margin-top: 10px;
    & > *:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #8e8e8e;
  }

  &__article {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #8e8e8e;
  }

  &__price {
    font-family: $second-font;
    font-weight: 900;
    font-size: 24px;
    line-height: 140%;
    color: #1e1e1e;
  }

  &__btn {
  }

  &__text {
    max-width: 702px;
  }
}

.scroll {
  position: relative;
  max-height: 702px;
  & > *:not(:last-child) {
    margin-bottom: 18px;
  }
  &__column {
  }

  &__arrow {
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.scroll-item {
  border: 1px solid #8e8e8e;
  width: 130px;
  height: 130px;
  border-radius: 24px;
  cursor: pointer;

  img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1700px) {
  .product {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
    }

    &__descr {
      padding: 0;
      flex: 0 1 auto;
    }
  }
}

@media (max-width: 1032px) {
  .product {
    padding-top: 215px;
  }
}

@media (max-width: 1024px) {
  .big-wrapper__product {
    padding: 0 20px;
  }
  .product {
    padding-top: 120px;
  }
}

@media (max-width: 900px) {
  .big-wrapper__product {
    padding-right: 0;
  }
  .product {
    &__img-block {
      display: block;
      width: 100%;
    }
    &__big-img {
      display: none;
    }

    &__list {
      display: block;
      width: 100%;
      overflow-x: scroll;
      padding-right: 20px;
    }

    &__slider {
      min-width: 2820px;
      display: flex;
      column-gap: 30px;
    }

    &__column {
      height: 540px;
      flex: 0 1 540px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
      }
    }

    &__descr {
      padding-right: 20px;
    }
  }

  .scroll {
    display: none;
  }
}

@media (max-width: 590px) {
  .product {
    padding-top: 80px;
    padding-bottom: 68px;
    &__wrapper {
      row-gap: 20px;
    }

    &__descr {
      & > *:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      margin-top: 8px;
      & > *:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__name,
    &__article {
      font-size: 14px;
    }

    &__price {
      margin-top: 8px;
      font-size: 16px;
      line-height: 150%;
    }

    &__btn {
      margin-top: 20px;
      a {
        width: 100%;
      }
    }

    &__slider {
      min-width: 1414px;
      column-gap: 16px;
    }

    &__column {
      height: 270px;
      flex: 0 1 270px;
    }

    &__text-block {
      margin-top: 28px;
      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__text {
      font-size: 14px;

      span {
        font-size: 14px;
        font-weight: 700;
      }

      &_border {
        padding: 28px 16px;
      }
    }
  }
}
