.cases {
  padding: 100px 0;
  min-height: 904px;
  &__title {
    text-align: center;
  }

  &__count {
    margin-top: 100px;
    font-family: $second-font;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: #1e1e1e;
    span {
      font-family: $second-font;
      font-weight: 900;
      font-size: 48px;
      text-align: center;
      color: #00ace4;
    }
  }

  &__wrapper {
    margin-top: 50px;
    position: relative;
  }

  &__list {
    overflow-x: hidden;
  }
}

.cases-slider {
  display: flex;
  margin: 0 -20px;
  row-gap: 40px;
  min-width: 1780px;
  &__column {
    flex: 0 1 445px;
    padding: 0 20px;
  }

  &__cases-item {
  }
}

.cases-item {
  &__img {
    width: 100%;
    height: 405px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
  }

  &__name {
    font-family: $second-font;
    font-weight: 900;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #1e1e1e;
    margin-top: 20px;
  }

  &__country {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #1e1e1e;
  }
}

.cases-slider__arrow {
  position: absolute;
  width: 50px;
  height: 110px;
  cursor: pointer;
}

.left-arr {
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
}

.right-arr {
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
}

.big-wrapper__cases {
  padding: 0 86px;
}

@media (max-width: 1100px) {
  .cases {
    &__count {
      font-size: 35px;

      span {
        font-size: 35px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .big-wrapper__cases {
    padding: 0 20px;
    padding-right: 0;
  }

  .right-arr,
  .left-arr {
    display: none;
  }

  .cases {
    &__list {
      overflow-x: scroll;
      padding-right: 20px;
    }

    &__count {
      padding-right: 20px;
    }
  }
}

@media (max-width: 800px) {
  .cases {
    padding: 60px 0;

    &__title {
      text-align: left;
    }

    &__count {
      margin-top: 60px;

      font-size: 23px;

      span {
        font-size: 23px;
      }
    }
  }
}

@media (max-width: 590px) {
  .cases {
    min-height: 584px;
    &__wrapper {
      margin-top: 28px;
    }

    &__count {
      font-size: 16px;
      line-height: 150%;
      text-align: left;

      span {
        font-size: 16px;
        line-height: 150%;
      }
    }
  }

  .cases-slider {
    margin: 0;
    min-width: 1080px;
    column-gap: 16px;
    &__column {
      flex: 0 0 286px;
      padding: 0;
    }
  }

  .cases-item {
    &__img {
      height: 220px;
    }

    &__name {
      font-size: 16px;
      line-height: 150%;
      text-align: left;
      margin-top: 16px;
    }

    &__country {
      font-size: 14px;
      text-align: left;
      margin-top: 4px;
    }
  }
}
