.main-promo {
  padding-top: 100px;
  &__wrapper {
    padding: 30px 0 35px 0;
  }

  &__title {
    font-family: $second-font;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: #1e1e1e;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #1e1e1e;
    max-width: 1146px;
    margin: 0 auto;
  }

  &__bg {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 600px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1166px) {
  .main-promo {
    padding-top: 170px;
  }
}

@media (max-width: 1024px) {
  .main-promo {
    padding-top: 60px;

    &__wrapper {
      padding: 0;
    }

    &__bg {
      height: 400px;
    }
  }
}

@media (max-width: 900px) {
  .big-wrapper__main-promo {
    padding: 30px 20px;
  }
  .main-promo {
    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__bg {
      height: 300px;
    }
  }
}

@media (max-width: 590px) {
  .big-wrapper__main-promo {
    padding: 20px 20px;
  }
  .main-promo {
    &__title {
      font-size: 20px;
      line-height: 110%;
      text-align: left;
      max-width: 320px;
    }

    &__subtitle {
      font-size: 14px;
      text-align: left;
      max-width: 320px;
      margin: 8px 0 0 0;
    }

    &__bg {
      height: 250px;
    }
  }
}
