.text-section {
  padding-top: 40px;

  &__video {
    display: flex;
    align-items: flex-start;
    iframe {
      border-radius: 24px;
      max-width: 850px;
      height: 476px;
      margin-top: -204px;
    }

    & > * {
      flex: 0 1 50%;
    }

    & > *:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__video-caption {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #1e1e1e;
    margin-bottom: 0;
  }
}

.text-block {
  display: flex;
  margin: 0 -20px;
  row-gap: 100px;
  flex-wrap: wrap;
  &__column {
    padding: 0 20px;
    flex: 0 1 50%;
  }

  &__elem {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #1e1e1e;
    margin-bottom: 0;
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      color: #1e1e1e;
    }
    &_border {
      border: 4px solid #00ace4;
      border-radius: 24px;
      padding: 20px 30px;
    }
  }
}

.text-section__text-block {
  margin-top: 100px;
}

@media (max-width: 1500px) {
  .text-section {
    .text-section__video > *:not(:last-child) {
      margin-right: 0;
    }
    &__video {
      // display: block;
      min-height: 735px;
      flex-direction: column;
      max-width: 850px;
      margin: 0 auto;
      iframe {
        order: 2;
        width: 100%;
        display: block;
        flex-grow: 1;
        margin: 0 auto;
        margin-top: 40px;
      }
    }

    &__video-caption {
      order: 1;
    }
  }
}

@media (max-width: 1024px) {
  .big-wrapper__text-section {
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .text-section {
    .text-block {
      max-width: 850px;
      margin: 40px auto 0 auto;
      flex-direction: column;
      row-gap: 40px;

      &__column {
        padding: 0;
      }
    }
  }
}

@media (max-width: 590px) {
  .text-section {
    padding-top: 20px;

    &__video {
      min-height: 415px;
      iframe {
        margin-top: 20px;
        height: 179px;
      }
    }

    &__video-caption {
      font-size: 14px;
    }

    .text-block {
      margin: 20px auto 0 auto;
      row-gap: 20px;
      &__elem {
        font-size: 14px;

        span {
          font-size: 14px;
        }

        &_border {
          padding: 28px 16px;
        }
      }
    }
  }
}
